/* landing page css pasted */

/* (*::ALL) */
*{
  margin: 0;
  padding:0;
}

body{
  font-family: sans-serif;
}

/* #nav-bar THIS IS THE ID OF THE SECTION TAG */
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
  /* so that it will be sticky at the top */
}

/*.navbar THIS IS ONE OF THE FIRST CLASS FROM THE DIV TAG  */
.navbar{
  background-image: linear-gradient(to right,#000000,#000000,#ffffff);
  /* it will change the color of navbar from L->R LIGHT TO DARK */
  padding: 0 !important;
  /*  */
}

/* resize the navbar he logo */
.navbar-brand img{
  height: 100px;
  padding-left: 0px;
}


/* for the padding */
.navbar-nav li{
  padding: 0 10px;
  /* 0 top and bott ,10 left and right */
  }

   /* a for the anchor inside i.e,home services .... */
   /* as we click o memu the services displayed and in the text collor as follows */
  .navbar-nav li a{
    color: #ffffff !important;
    /* for this navbar color white */
    font-weight: 600;
  }

  /* ------------------------banner section----------------------- */
 #he{
  color: #fff;
 }
